/* Main */
html,
body {
  height: 297mm;
  width: 210mm;
}

html {
  background-color: #f3f3f3;
  margin: auto;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 16px;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 400;
  color: #5497a2;
  margin-bottom: 15px;
  margin-top: 10px;
}

h1 {
  margin: 0;
}

h2 {
  margin-bottom: 5px;
}

h3 {
  border-bottom: 1px solid #ddd;
}

p {
  margin-top: 0;
}

a {
  color: #60abb7;
  text-decoration: none;
}

/* Display */
.custom-container {
  padding: 20px 40px 0px 40px;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.text-center {
  text-align: center;
}

.section {
  padding: 5px 0;
}

/* Intrduction */
.picture {
  border: 1px solid #f3f3f3;
  padding: 5px;
  height: 150px;
}

.intro-row {
  padding: 5px 0;
}

.flag {
  width: 18px;
  box-shadow: 0px 1px 3px #ddd;
  margin-right: 3px;
}

/* Skills */
.skills-row {
  padding-bottom: 15px;
  font-size: 14px;
}

.skills-row:last-child {
  padding-bottom: 0;
}

.skills-lang {
  padding-bottom: 10px;
}

.skills-img {
  max-height: 20px;
  padding-bottom: 3px;
}

.skills-img_l {
  max-height: 30px;
}

.skills-img_xl {
  max-height: 35px;
}

/* Experiene and education */
.xp-row {
  padding-bottom: 15px;
}

.xp-row:last-child {
  padding-bottom: 0px;
}

.xp-title {
}

.xp-txt {
  font-weight: 100;
  font-size: 14px;
  padding-left: 6px;
  border-left: 1px solid #bfdbe0;
}

.xp-details {
  font-weight: 100;
  font-size: 14px;
}

/* Hobbies */
.hobbies-icon {
  padding-bottom: 5px;
}

/* Material Icons*/
.material-icons {
  color: #666;
}

.material-icons.md-18 {
  font-size: 18px;
  padding-right: 5px;
}
