/* Main */
html,
body {
  height: 297mm;
  width: 210mm;
}

html {
  background-color: #f3f3f3;
  margin: auto;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: "Oxygen", sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 300;
}

.ma-0 {
  margin: 0;
}

.row {
  margin: 0;
}

.full-height {
  height: 100%;
}

.left,
.right {
  padding: 25px 30px;
}

.left {
  border-right: 1px solid #eee;
}

h1,
h2,
h3 {
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 0;
}

h3 {
  font-size: 18px;
}

h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin-bottom: 5px;
}

p {
  margin-top: 0;
}

a {
  color: #333;
  margin-bottom: 5px;
  display: block;
}

li::marker,
.bullet {
  color: #ccc;
}

ul {
  margin-top: 0px;
  padding: 0px 15px;
}

/* Display */

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.text-center {
  text-align: center;
}

.section {
  margin-bottom: 30px;
}

.section:last-child {
  margin-bottom: 0px;
}

/* Intrduction */
.picture {
  border: 1px solid #f3f3f3;
  padding: 5px;
  height: 150px;
}

.intro-row {
  padding: 5px 0;
}

.flag {
  width: 18px;
  box-shadow: 0px 1px 3px #ddd;
  margin-right: 3px;
}

/* Skills */
.skills-row {
  padding-bottom: 15px;
  font-size: 14px;
}

.skills-row:last-child {
  padding-bottom: 0;
}

.skills-img {
  max-height: 20px;
  padding-bottom: 3px;
}

.skills-img_l {
  max-height: 30px;
}

.skills-img_xl {
  max-height: 35px;
}

/* Experiene and education */
.xp-row {
  margin: 25px 0 0 0;
}

.xp-row:first-of-type {
  margin-top: 0;
}

.xp-txt {
  font-weight: 300;
  font-size: 14px;
  margin-top: 8px;
  color: #666;
}

.xp-details {
  font-size: 14px;
  margin-bottom: 0px;
}
