<h3>Education</h3>

<!-- Epi Master -->
<div class="row xp-row">
  <div class="col-xs-12">
    <h4>Master in Computer Science - Epitech</h4>
  </div>
  <!-- <div class="col-xs-4">
    <div>Paris, France</div>
    <div class="xp-details">2017 - 2019</div>
  </div> -->
</div>

<!-- KMU -->
<div class="row xp-row">
  <div class="col-xs-12">
    <h4>Exchange student - Keimyung University</h4>
    <div class="xp-txt">
      <div>Video game design and development</div>
    </div>
  </div>
  <!-- <div class="col-xs-4">
    <div>Daegu, South Korea</div>
    <div class="xp-details">2017 - 2018</div>
  </div> -->
</div>
