<h3>Professional Experience</h3>
<div class="row xp-row">
  <div class="col-xs-12">
    <h4>Full stack lead developer</h4>
    <p class="xp-details">
      Vanpl - Full remote (Costation - Seoul, South Korea)
    </p>
    <p class="xp-details">
      March 2021 - Ongoing
      <span class="bullet">•</span>
      1 year
    </p>
    <div class="xp-txt">
      <div>
        Development of vehicle booking and camping platform using VueJs, Nodejs
        and Typescript. Deployment with AWS. Functional and technical
        specifications writing.
      </div>
    </div>
  </div>
</div>

<div class="row xp-row">
  <div class="col-xs-12">
    <h4>Full stack lead developer</h4>
    <p class="xp-details">Seeart - Daegu, South Korea</p>
    <p class="xp-details">
      February 2020 - January 2021
      <span class="bullet">•</span>
      1 year
    </p>
    <div class="xp-txt">
      <div>
        Project management, architecture design and development of an e-commerce
        web application using Angular2+, NodeJS and ExpressJS. Deployment of the
        app with AWS and Heroku.
      </div>
    </div>
  </div>
</div>

<div class="row xp-row">
  <div class="col-xs-12">
    <h4>Front end developer</h4>
    <p class="xp-details">Ipkiss - Full remote (Station F - Paris, France)</p>
    <p class="xp-details">
      September 2018 - September 2019
      <span class="bullet">•</span>
      1 year
    </p>

    <div class="xp-txt">
      <div>
        Development of a web app for tattoo artists and customers (e-shop and
        appointments management) with Angular2+.
      </div>
      <div>Video game & matchmaking app with AngularJS.</div>
      <div>Online quiz game with VueJS.</div>
    </div>
  </div>
</div>

<div class="row xp-row">
  <div class="col-xs-12">
    <h4>Mobile and Web app developer</h4>
    <p class="xp-details">MHComm - Toulouse, France</p>
    <p class="xp-details">
      March 2016 - August 2017
      <span class="bullet">•</span>
      1 year 6 months
    </p>
    <div class="xp-txt">
      <div>
        Development of medical applications (web and mobile hybrid apps) using
        AngularJS, Django, Ionic. Design of mockups.
      </div>
    </div>
  </div>
</div>

<div class="row xp-row">
  <div class="col-xs-12">
    <h4>Internships and part-times</h4>
    <p class="xp-details">Vega France, Technic Soft - Toulouse, France</p>
    <p class="xp-details">
      2014 - 2016
      <span class="bullet">•</span>
      1 year
    </p>
    <div class="xp-txt">
      <div>
        Automatization of product network setups with shell scripting,
        development of a mini web platform and electronics welding.
      </div>
      <div>
        Development and maintenance of a management software in C++ for large
        distribution groups.
      </div>
    </div>
  </div>
</div>
