<h3>Professional Experience</h3>
<div class="row xp-row">
  <div class="col-xs-12">
    <h4>Principal Product Engineer</h4>
    <p class="xp-details">
      Vanpl - Full remote (Costation - Seoul, South Korea)
    </p>
    <p class="xp-details">
      March 2021 - Ongoing
      <span class="bullet">•</span>
      1 year
    </p>
    <div class="xp-txt">
      <div>
        Joined the startup as the first engineer and developed a camping-car
        booking platform using VueJs, Nodejs and Typescript. Implemented CI/CD
        with Github Actions, deployed using AWS, code reviewed peers and wrote
        Functional and Technical feature specifications. Researched and tested
        technical solutions.
      </div>
    </div>
  </div>
</div>

<div class="row xp-row">
  <div class="col-xs-12">
    <h4>Full Stack Lead Developer</h4>
    <p class="xp-details">Seeart - Daegu, South Korea</p>
    <p class="xp-details">
      February 2020 - January 2021
      <span class="bullet">•</span>
      1 year
    </p>
    <div class="xp-txt">
      <div>
        Joined as the first and only developer in the company. Designed,
        organized and developed an e-commerce website from the ground up using
        Angular2+, NodeJs and ExpressJs. Integrated multiple third party APIs
        for payment, automation and integration, as well as a Back office.
        Automatized the deployment using AWS and Heroku.
      </div>
    </div>
  </div>
</div>

<div class="row xp-row">
  <div class="col-xs-12">
    <h4>Front End Developer</h4>
    <p class="xp-details">Ipkiss - Full remote (Station F - Paris, France)</p>
    <p class="xp-details">
      September 2018 - September 2019
      <span class="bullet">•</span>
      1 year
    </p>

    <div class="xp-txt">
      <div>Developed an online tattoo booking platform with Angular2+.</div>
      <div>Maintained a video game & matchmaking app with AngularJS.</div>
      <div>Made an online quiz game using VueJS.</div>
    </div>
  </div>
</div>

<div class="row xp-row">
  <div class="col-xs-12">
    <h4>Mobile and Web Developer</h4>
    <p class="xp-details">MHComm - Toulouse, France</p>
    <p class="xp-details">
      March 2016 - August 2017
      <span class="bullet">•</span>
      1 year 6 months
    </p>
    <div class="xp-txt">
      <div>
        Designed, developed and maintained web and mobile medical applications
        using AngularJS, Django, Ionic. Designed and integrated mockups.
      </div>
    </div>
  </div>
</div>

<div class="row xp-row">
  <div class="col-xs-12">
    <h4>Internships and Part-times</h4>
    <p class="xp-details">Vega France, Technic Soft - Toulouse, France</p>
    <p class="xp-details">
      2014 - 2016
      <span class="bullet">•</span>
      1 year
    </p>
    <div class="xp-txt">
      <div>
        Automatized tasks with shell scripting and maintained a management
        software in C++ for large distribution groups.
      </div>
    </div>
  </div>
</div>
