<h3>Work experience</h3>
<div class="row xp-row">
  <div class="col-xs-8">
    <div class="xp-title">
      Full stack lead developer - Seeart
    </div>
    <div class="xp-txt">
      <div>Project management, architecture design and development of an e-commerce web application using Angular2+, NodeJS and ExpressJS. Deployment of the app with AWS and Heroku.</div>
    </div>
  </div>
  <div class="col-xs-4">
    <div>Daegu, South Korea</div>
    <div class="xp-details">Feb. 2020 - Jan. 2021</div>
  </div>
</div>

<div class="row xp-row">
  <div class="col-xs-8">
    <div class="xp-title">
      Front end developer - Ipkiss
    </div>
    <div class="xp-txt">
      <div>Development of a web app for tattoo artists and customers (e-shop and appointments management) with Angular2+.</div>
      <div>Video game & matchmaking app with AngularJS.</div>
      <div>Online quiz game with VueJS.</div>
    </div>
  </div>
  <div class="col-xs-4">
    <div>Remote (Paris, France)</div>
    <div class="xp-details">Sep. 2018 - Sep. 2019</div>
  </div>
</div>

<div class="row xp-row">
  <div class="col-xs-8">
    <div class="xp-title">
      Mobile and Web app developer - MHComm
    </div>
    <div class="xp-txt">
      <div>Development of medical applications (web and mobile hybrid apps) using AngularJS, Django, Ionic. Design of mockups.</div>
    </div>
  </div>
  <div class="col-xs-4">
    <div>Toulouse, France</div>
    <div class="xp-details">Mar. 2016 - Aug. 2017</div>
  </div>
</div>

<div class="row xp-row">
  <div class="col-xs-8">
    <div class="xp-title">
      C++ Software developer - Technic Soft
    </div>
    <div class="xp-txt">
      <div>Development of a management software in C++ for large distribution groups.</div>
    </div>
  </div>
  <div class="col-xs-4">
    <div>Toulouse, France</div>
    <div class="xp-details">Oct. 2015 - Mar. 2016</div>
  </div>
</div>

<div class="row xp-row">
  <div class="col-xs-8">
    <div class="xp-title">
      Intern within the IT team - Vega France
    </div>
    <div class="xp-txt">
      <div>Shell, web, network development/setup and electronics.</div>
    </div>
  </div>
  <div class="col-xs-4">
    <div>Toulouse, France</div>
    <div class="xp-details">July 2014 - Dec. 2014</div>
  </div>
</div>