<h3>Hobbies</h3>
<div class="row align-baseline">
  <div class="col-xs flex justify-center align-center col">
    <span class="material-icons hobbies-icon">
      airplanemode_active
    </span>
    <div class="text-center">
      Travel & Languages
    </div>
  </div>
  <div class="col-xs flex justify-center align-center col">
    <span class="material-icons hobbies-icon">
      headset_mic
    </span>
    <div class="text-center">
      Video games
    </div>
  </div>
  <div class="col-xs flex justify-center align-center col">
    <span class="material-icons hobbies-icon">
      restaurant
    </span>
    <div>
      Cooking
    </div>
  </div>
  <div class="col-xs flex justify-center align-center col">
    <span class="material-icons hobbies-icon">
      local_florist
    </span>
    <div>
      Gardening
    </div>
  </div>
  <div class="col-xs flex justify-center align-center col">
    <span class="material-icons hobbies-icon">
      book
    </span>
    <div>
      Reading
    </div>
  </div>
</div>