<h3>Hobbies</h3>
<div class="row">
  <div class="col-xs-3 flex justify-center align-center col">
    <span class="material-icons">
      airplanemode_active
    </span>
    <div class="text-center">
      Traveling / Languages
    </div>
  </div>
  <div class="col-xs-3 flex justify-center align-center col">
    <span class="material-icons">
      headset_mic
    </span>
    <div class="text-center">
      Video games
    </div>
  </div>
  <div class="col-xs-2 flex justify-center align-center col">
    <span class="material-icons">
      restaurant
    </span>
    <div>
      Cooking
    </div>
  </div>
  <div class="col-xs-2 flex justify-center align-center col">
    <span class="material-icons">
      local_florist
    </span>
    <div>
      Gardening
    </div>
  </div>
  <div class="col-xs-2 flex justify-center align-center col">
    <span class="material-icons">
      book
    </span>
    <div>
      Reading
    </div>
  </div>
</div>