<!-- Pic and contact -->
<div class="row align-end">
  <div class="flex col-xs-3">
    <img class="picture" src="/img/fiona.jpg" />
  </div>

  <div class="col-xs-9">
    <h1>Full stack web developer</h1>
    <h2>Roch Fiona</h2>

    <div class="row intro-row">
      <!-- Email -->
      <div class="col-xs-6 flex align-center">
        <a href="mailto:roch.fiona@gmail.com">roch.fiona@gmail.com</a>
      </div>

      <div class="col-xs-6 flex align-center">
        <a href="https://github.com/Hisaeri">https://github.com/Hisaeri</a>
      </div>
    </div>
  </div>
</div>
