<!-- Pic and contact -->
<div class="row">

  <div class="flex col-xs-3 justify-center">
    <img class="picture" src="/img/picture.jpg" />
  </div>

  <div class="col-xs-9">
    <h1>Full stack web developer</h1>
    <h2>Roch Fiona</h2>
    <p>
      03/12/1996 (24 years old)
    </p>

    <div class="row">

      <!-- Email -->
      <div class="col-xs-6 flex align-center">
        <span class="material-icons md-18">
          email
        </span>
        <span>Email</span>
      </div>

      <!-- Phone -->
      <div class="col-xs-6 flex align-center">
        <span class="material-icons md-18">
          phone
        </span>
        <span>Phone</span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 flex align-center">
        <span class="material-icons md-18">
          web_asset
        </span>
        <span>Portfolio</span>
      </div>
      <div class="col-xs-6 flex align-center">
        <span class="material-icons md-18">
          code
        </span>
        <span>Github</span>
      </div>
    </div>

  </div>

</div>

<!-- Description -->
<p>
  Description
</p>