<!-- Pic and contact -->
<div class="row align-end">

  <div class="flex col-xs-3 justify-center">
    <img class="picture" src="/img/picture.jpg" />
  </div>

  <div class="col-xs-9">
    <h1>Full stack web developer</h1>
    <h2>Roch Fiona</h2>
    <p> 03/12/1996 (24 years old) </p>

    <div class="row intro-row">

      <!-- Email -->
      <div class="col-xs-6 flex align-center">
        <span class="material-icons md-18">
          email
        </span>
        <a href="mailto:roch.fiona@gmail.com">roch.fiona@gmail.com</a>
      </div>

      <!-- Phone -->
      <div class="col-xs-6 flex align-center">
        <span class="material-icons md-18">
          phone
        </span>
        <a href="tel:+82 010 4066 9612">+82 010 4066 9612</a>
      </div>
    </div>

    <div class="row intro-row">

      <!-- Portfolio -->
      <div class="col-xs-6 flex align-center">
        <span class="material-icons md-18">
          web_asset
        </span>
        <a href="https://www.fionaroch.com">https://www.fionaroch.com</a>
      </div>

      <!-- Github -->
      <div class="col-xs-6 flex align-center">
        <span class="material-icons md-18">
          code
        </span>
        <a href="https://github.com/Hisaeri">https://github.com/Hisaeri</a>
      </div>
    </div>

  </div>

</div>

<!-- Description -->
<div class="intro-desc">
  <p>I'm a french full stack developer located in South Korea. I enjoy building web and mobile applications, and working with international teams. I'm looking for a new opportunity starting March 2021.</p>
</div>