<div class="row">
  <div class="col-xs-8">
    <h3>Skills</h3>

    <!-- Front end -->
    <div class="row">
      <div class="col-xs-2">
        Angular
      </div>
      <div class="col-xs-2">
        VueJS
      </div>
      <div class="col-xs-2">
        Ionic
      </div>
      <div class="col-xs-2">
        Typescript
      </div>
      <div class="col-xs-2">
        Sass
      </div>
      <div class="col-xs-2">
        Bootstrap
      </div>
    </div>

    <!-- Back end -->
    <div class="row">
      <div class="col-xs-2">
        NodeJS
      </div>
      <div class="col-xs-2">
        ExpressJS
      </div>
      <div class="col-xs-2">
        PostgreSQL
      </div>
      <div class="col-xs-2">
        AWS
      </div>
      <div class="col-xs-2">
        Heroku
      </div>
      <div class="col-xs-2">
        Django
      </div>
    </div>

  </div>


  <!-- Languages -->
  <div class="col-xs-4">
    <h3>Languages</h3>
    <div>🇫🇷 French (native) </div>
    <div>🇺🇸 English (fluent) </div>
    <div>🇰🇷 Korean (Intermediate) </div>
    <div>🇯🇵 Japanese (Elementary) </div>
  </div>
</div>