<div class="row">
  <div class="col-xs-8">
    <h3>Skills</h3>

    <!-- Front end -->
    <div class="row skills-row">
      <div class="col-xs-2 flex col align-center justify-end">
        <img class="skills-img" src="/img/angular.png" />
        <div> Angular </div>
      </div>
      <div class="col-xs-2 flex col align-center justify-end">
        <img class="skills-img" src="/img/vue.png" />
        <div> VueJS </div>
      </div>
      <div class="col-xs-2 flex col align-center justify-end">
        <img class="skills-img" src="/img/ionic.png" />
        <div>
          <div> Ionic </div>
        </div>
      </div>
      <div class="col-xs-2 flex col align-center justify-end">
        <img class="skills-img" src="/img/tscript.png" />
        <div> TypeScript </div>
      </div>
      <div class="col-xs-2 flex col align-center justify-end">
        <img class="skills-img" src="/img/sass.png" />
        <div> Sass </div>
      </div>
      <div class="col-xs-2 flex col align-center justify-end">
        <img class="skills-img" src="/img/bootstrap.png" />
        <div> Bootstrap </div>
      </div>
    </div>

    <!-- Back end -->
    <div class="row skills-row">
      <div class="col-xs-2 flex col align-center justify-end">
        <img class="skills-img" src="/img/nodejs.png" />
        <div> NodeJS </div>
      </div>
      <div class="col-xs-2 flex col align-center justify-end">
        <img class="skills-img" src="/img/pgsql.png" />
        <div> PostgreSQL </div>
      </div>
      <div class="col-xs-2 flex col align-center justify-end">
        <img class="skills-img" src="/img/aws.png" />
      </div>
      <div class="col-xs-2 flex col align-center justify-end">
        <img class="skills-img" src="/img/django.png" />
      </div>
      <div class="col-xs-2 flex col align-center justify-end">
        <div class="skills-c">
          C & C++
        </div>
      </div>
      <div class="col-xs-2 flex col align-center justify-end">
        <div class="skills-c">
          Unity
        </div>
      </div>
    </div>

  </div>


  <!-- Languages -->
  <div class="col-xs-4">
    <h3>Languages</h3>
    <div>
      <img class="flag" src="/img/fr.jpg" /> French (Native)
    </div>
    <div>
      <img class="flag" src="/img/us.jpg" /> English (Fluent)
    </div>
    <div>
      <img class="flag" src="/img/kr.jpg" /> Korean (Intermediate)
    </div>
  </div>
</div>